@import "../../../../assets/scss/theme/variables";

.logo-head {
  min-width: 235px;
  background-color: #fff;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  padding: 0 10px 0 20px;

  span {
    display: inline-flex;
    padding: 0;
  }
  .btn {
    font-size: 12px;
    color: $base-color;
  }
}

.header-rt {
  .left-col {
    .head-src {
      margin: 6px 16px;
      width: 0;
      transition: all ease 0.3s 0s;
      .btn {
        width: 40px;
        height: 100%;
        font-size: 15px;
        color: $base-color;
      }
      .form-control {
        height: 100%;
        background-color: transparent;
        border-color: transparent;
      }
    }
    .head-src.active {
      width: 100%;
      .form-control {
        padding-left: 36px;
        background-color: #fff;
        border-color: #efeaea;
      }
    }
  }
  .right-col {
    margin-right: 30px;
    .user-profile-drop {
      margin-left: 24px;
      .dropdown-toggle {
        font-size: 14px;
        color: #333;
        .pic-cell {
          width: 34px;
          height: 34px;
          margin-right: 11px;
        }
        .text {
          span {
            font-size: 7px;
            margin-left: 14px;
          }
        }
        &::after {
          display: none;
        }
      }
      .dropdown-menu {
        .dropdown-item {
          display: flex;
          align-items: center;
          span {
            margin-right: 6px;
          }
        }
      }
    }
    .notification-drop {
      .dropdown-toggle {
        color: $base-color;
        &::after {
          display: none;
        }
        .count {
          min-width: 14px;
          min-height: 14px;
          display: inline-flex;
          background: $primary;
          color: #fff;
          border-radius: 50%;
          font-size: 11px;
          top: -10px;
          right: -5px;
        }
      }
    }
  }
}
