// Website theme colors
$primaryWhiteColor: var(--primary-white-color, #ffffff);

$textGrayColor:var(--link-color, #A4ACBF);
$textHoverColor:var(--link-hover-color, #4E8AFF);

$errorColor: var(--error-color, #EB5757);
$validColor: var(--valid-color, #89CFA6);

$primaryTextColor: var(--primary-text-color, #000000);