@import "../../../../assets/scss/theme/variables";
:host {
  overflow: auto;
}
.sidebar {
  height: 100%;
  max-width: 235px;
  min-width: 235px;
  width: 100%;
  background-color: #fff;
  padding: 0 9px;
  box-shadow: 0 4px 25px #00000029;
  .sidebar-menu {
    > h2 {
      font-size: 16px;
      font-weight: 400;
      color: #4b4444;
      padding: 14px 18px 20px 0;
    }
    .menu-list {
      li.active a {
        background-color: $primary;
        color: #fff;
      }
      a {
        font-size: 16px;
        color: #333;
        display: block;
        padding: 9px 10px;
        margin: 2px 0;
        border-radius: 3px;
        display: flex;
        cursor: pointer;
        span {
          display: inline-flex;
          align-items: center;
          width: 26px;
          svg {
            max-width: 18px;
          }
        }
        &:hover,
        &:focus {
          background-color: $primary;
          color: #fff;
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}
