@import './_variables';

.text-primary {
  color: $primary !important;
}

// .text-secondary {
//   color: $secondary !important;
// }


.text-success {
  color: $success !important;
}

.text-danger {
  color: $danger !important;
}

.text-warning {
  color: $warning !important;
}