.section-row.breif-card {
  margin-bottom: 44px;
}
.list-wrapper {
  .left-col {
    margin-right: 34px;
    .row-blc {
      margin-bottom: 27px;
    }
  }
  .right-col {
    min-width: 266px;
  }
}
