table {
    width: 100%;
  } 

  .edit-open-img img{margin-right: 10px;}

  .conditions_alignment_tab tr td{width:20%;}

  .card.document-section{padding: 20px 15px;margin-bottom: 15px;}


  .red {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  
  .blue {
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }

  .yellow {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }

  .orange {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }

  .skyblue {
    height: 25px;
    width: 25px;
    background-color: skyblue;
    border-radius: 50%;
    display: inline-block;
  }